formType
<template>
  <div id="home" class="pt-4">
    <b-modal ref="modal"
             v-model="modalRemove"
             title="Exclusão"
             @ok="handleOk">
      Confirma a exclusão do fardo?
    </b-modal>
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <b-card>
          <b-button-group>
            <b-button :pressed="telaFadoes" @click="changeForm('fardoes')">Registrar</b-button>
            <b-button :pressed="telaJustificativas" @click="changeForm('justificativas')">Justificar</b-button>
          </b-button-group>

          <hr/>

          <b-form v-on:submit.prevent="onSubmit">
            <b-form-group>
              <b-form-checkbox v-model="tipo">
                Fardão
              </b-form-checkbox>
            </b-form-group>

            <b-form-group label="Código" label-for="numero">
              <b-input-group :append="limite">
                <b-form-input ref="numero" type="text" v-model="numero" :maxlength="max"/>
              </b-input-group>
            </b-form-group>

            <b-form-group label="Jutificativa" label-for="numero" v-show="telaJustificativas">
              <b-textarea v-model="justificativa" rows="5"></b-textarea>
            </b-form-group>

            <b-button type="submit" variant="primary" size="lg">Salvar</b-button>

            <div v-show="status === 'success'" class="alert alert-success mt-2">Inserido com sucesso</div>
            <div
                v-show="status === 'error' && errorMessage !== null"
                class="alert alert-danger mt-2"
                v-html="errorMessage"
            >{{ errorMessage }}
            </div>
          </b-form>
        </b-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <template>
          <b-table class="borda"
                   striped
                   hover
                   :items="lista"
                   :fields="fields">
            <template slot="actions" slot-scope="row">
              <b-btn size="sm" variant="danger" @click="remove(row)">Remover</b-btn>
            </template>
          </b-table>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

const f1 = [
  {key: 'id', label: '#'},
  {key: 'numero', label: 'Fardão'},
  {key: 'tipo_display', label: 'Tipo fardo'},
  {key: 'justificativa', label: 'Observarção'},
  {key: 'usuario_display', label: 'Usuário'},
  {key: 'actions', label: 'Actions'}

]
const f2 = [
  {key: 'id', label: '#'},
  {key: 'numero', label: 'Fardão'},
  {key: 'tipo_display', label: 'Tipo fardo'},
  {key: 'usuario_display', label: 'Usuário'},
  {key: 'actions', label: 'Actions'}
]
export default {
  name: 'home',
  data () {
    return {
      modalRemove: false,
      fardoRemove: null,
      max: 10,
      formType: 'fardoes',
      tipo: true,
      numero: '',
      justificativa: null,
      status: null,
      errorMessage: null
    }
  },
  mounted () {
    this.setFocus()
  },
  watch: {
    formType (val) {
      this.getData(val)
    }
  },
  computed: {
    ...mapState('auditoria', [
      'lista'
    ]),
    fields () {
      if (this.formType === 'justificativas')
        return f1
      return f2
    },
    telaFadoes () {
      return this.formType === 'fardoes'
    },
    telaJustificativas () {
      return this.formType === 'justificativas'
    },
    limite: function () {
      return (this.max - this.numero.length).toString()
    }
  },
  methods: {
    ...mapActions('auditoria', [
      'addFardao',
      'addJustificativa',
      'getData',
      'removeData'
    ]),
    remove (row) {
      this.modalRemove = true
      this.fardoRemove = row.item
    },
    handleOk () {
      this.removeData({formType: this.formType, id: this.fardoRemove.id}).then(
        () => {
          this.fardoRemove = null
          this.modalRemove = false
          this.getData(this.formType)
        }
      ).catch(
        err => console.error(err)
      )
    },
    setFocus () {
      this.$refs.numero.focus()
    },
    changeForm (formType) {
      this.formType = formType
      this.numero = ''
      this.justificativa = null
      this.status = null
      this.errorMessage = null
    },
    onSubmit () {
      let endpoint = this.addFardao

      let data = {
        tipo: (this.tipo === true ? 1 : 2),
        numero: this.numero
      }

      if (this.formType === 'justificativas') {
        data = {...data, justificativa: this.justificativa}
        endpoint = this.addJustificativa
      }

      this.status = null

      endpoint(data)
        .then(() => {
          this.changeForm(this.formType)
          this.setFocus()
          this.status = 'success'
          setTimeout(() => {
            this.status = null
          }, 3000)
          this.getData(this.formType)
        })
        .catch(err => {
          let errors = []
          Object.entries(err.response.data).forEach(([key, value]) => {
            let messages = value.join('; ')
            errors.push(`${key}: ${messages}`)
          })

          this.errorMessage = errors.join('<br />')
          this.status = 'error'
        })
    }
  }
}
</script>

<style scoped>
  .borda {
    margin-top: 40px;
  }
</style>
