<template>
  <div id="login" class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="card mt-4">
          <div class="card-body">
            <p class="text-center"><img src="../assets/logo.png" /></p>

            <b-form @submit.prevent="onSubmit">
              <b-form-group id="exampleInputGroup1"
                            label="Usuário"
                            label-for="usernameInput">
                <b-form-input id="usernameInput"
                              type="text"
                              v-model="form.username"
                              required
                              placeholder="Usuário">
                </b-form-input>
              </b-form-group>
              <b-form-group id="exampleInputGroup2"
                            label="Sua senha"
                            label-for="passwordInput">
                <b-form-input id="passwordInput"
                              type="password"
                              v-model="form.password"
                              required
                              placeholder="Enter name">
                </b-form-input>
              </b-form-group>

              <b-button type="submit" variant="primary" size="lg">Login</b-button>

              <div class="alert alert-danger mt-2" v-show="errorMessage !== null">{{ errorMessage }}</div>
            </b-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'Login',
  data () {
    return {
      loading: false,
      errorMessage: null,
      form: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    ...mapActions('auth', [
      'login'
    ]),
    onSubmit() {
      this.errorMessage = null;
      this.loading = true;
      this.login(this.form)
        .then(() => {
          this.loading = false;
          this.$router.push('/');
        })
        .catch(() => {
          this.loading = false;
          this.errorMessage = "Usuário ou senha inválidos.";
        });
    }
  }
}
</script>
