<template>
  <div id="app" class="container">
    <router-view/>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  methods: {
    ...mapActions('auth', [
      'check'
    ])
  },
  async mounted () {
    await this.check().catch(() => this.$router.push('/login'))
  }
}
</script>
